.category-card {
  height: 100%;
}

.category-card > .ant-card-head {
  background: #1e1e1e;
}

.category-card-content {
  display: flex;
  flex-direction: column;
}

.category-card-emoji {
  margin-right: 5px;
}
